SUPABASE_URL: supabase_url
SUPABASE_PUBLISHABLE_KEY: supabase_publishable_key
SUPABASE_SECRET_KEY: supabase_secret_key
RESEND_API_KEY: resend_api_key

R2_API_TOKEN: r2_api_token
R2_CREDENTIALS_BUCKET_NAME: r2_credentials_bucket_name
R2_HEADSHOTS_BUCKET_NAME: r2_headshots_bucket_name
R2_ASSETS_BUCKET_NAME: r2_assets_bucket_name
R2_ACCESS_KEY_ID: r2_access_key_id
R2_SECRET_ACCESS_KEY: r2_secret_access_key
R2_ENDPOINT: r2_endpoint
R2_ACCOUNT_ID: r2_account_id
R2_ADMIN_API_TOKEN: r2_admin_api_token
R2_ADMIN_SECRET_ACCESS_KEY: r2_admin_secret_access_key
R2_ADMIN_ACCESS_KEY_ID: r2_admin_access_key_id